In [352]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [353]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password)
        print("MySQL Database connection successful!")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

#put our MySQL Terminal password

pw = "16020byaadav"

#Database name
db = 'mysql_python'
connection = create_server_connection("localhost","root",pw)

MySQL Database connection successful!

In [354]:
#create mysql_python

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully!")
        
    except Error as err:
        print(f"Error: '{err}'")
        
create_database_query = "Create database mysql_python"
create_database(connection,create_database_query)

Error: '1007 (HY000): Can't create database 'mysql_python'; database exists'

In [355]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name)
        print("MySQL Database connection successful!")
    
    except Error as err:
        print(f"Error: '{err}'")
        
    return connection

In [356]:
#Execute SQL Queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful!")
        
    except Error as err:
        print(f"Error: '{err}'")

In [357]:
create_table = """
create table spam_list(
email_id varchar(30) not null,
phone_number int not null,
spams int not null)
"""

#connect to the database
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,create_table)

MySQL Database connection successful!
Error: '1050 (42S01): Table 'spam_list' already exists'

In [358]:
#insert data
#(No. of spams, email, phone_number)
data_orders = """
insert into spam_list values
(0,'abc@gmail.com',6293730802),
(2,'xyz@gmail.com',2794562286)
"""

connection = create_db_connection("localhost","root",pw,db)
execute_query(connection, data_orders)

MySQL Database connection successful!
Error: '1062 (23000): Duplicate entry '0' for key 'spam_list.PRIMARY''

In [359]:

def read_query(connection,query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Error as err:
        print(f"Error: '{err}'")

In [360]:
#Using the select statement

q1 = """
select * from spam_list;
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q1)
for result in results:
    print(result)

MySQL Database connection successful!
(0, 'abc@gmail.com', '6293730802')
(2, 'xyz@gmail.com', '2794562286')

In [361]:
'''
q2 = """
select customer_name, phone_number from orders;
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q2)
for result in results:
    print(result)
'''

'\nq2 = """\nselect customer_name, phone_number from orders;\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nresults = read_query(connection,q2)\nfor result in results:\n    print(result)\n'

In [362]:
'''
q3 = """
select year(date_ordered) from orders;
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q3)
for result in results:
    print(result)
'''

'\nq3 = """\nselect year(date_ordered) from orders;\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nresults = read_query(connection,q3)\nfor result in results:\n    print(result)\n'

In [363]:
'''
q4 = """
select distinct year(date_ordered) from orders;
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q4)
for result in results:
    print(result)
'''

'\nq4 = """\nselect distinct year(date_ordered) from orders;\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nresults = read_query(connection,q4)\nfor result in results:\n    print(result)\n'

In [364]:
'''q5 = """
select * from orders where date_ordered<'2018-12-31'
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q5)
for result in results:
    print(result)
'''

'q5 = """\nselect * from orders where date_ordered<\'2018-12-31\'\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nresults = read_query(connection,q5)\nfor result in results:\n    print(result)\n'

In [373]:

from_db = []
for result in results:
    result = list(result)
    from_db.append(result)
    
columns = ["No. of spams","Email_id","Phone_number"]

df = pd.DataFrame(from_db,columns = columns)
display(df)

   No. of spams       Email_id Phone_number
0             0  abc@gmail.com   6293730802
1             2  xyz@gmail.com   2794562286

In [366]:
#update command
'''
update = """
update orders
set unit_price = 45
where order_id = 103
"""
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,update)
'''

'\nupdate = """\nupdate orders\nset unit_price = 45\nwhere order_id = 103\n"""\nconnection = create_db_connection("localhost","root",pw,db)\nexecute_query(connection,update)\n'

In [367]:
'''
q8 = """
select * from orders where order_id = 103;
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q8)
for result in results:
    print(result)
'''

'\nq8 = """\nselect * from orders where order_id = 103;\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nresults = read_query(connection,q8)\nfor result in results:\n    print(result)\n'

In [368]:
#delete command
'''
delete_order = """
delete from orders
where order_id = 105
"""

connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,delete_order)
'''

'\ndelete_order = """\ndelete from orders\nwhere order_id = 105\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nexecute_query(connection,delete_order)\n'

In [369]:
'''
q9 = """
select * from orders;
"""

connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q9)
for result in results:
    print(result)
'''

'\nq9 = """\nselect * from orders;\n"""\n\nconnection = create_db_connection("localhost","root",pw,db)\nresults = read_query(connection,q9)\nfor result in results:\n    print(result)\n'